# Auto detect text files and perform LF normalization
* text=auto
cynthia_config/templates/*.handlebars linguist-vendored
cynthia_config/styles/*.css linguist-vendored
site/* linguist-detectable
site/* -linguist-documentation
*.md linguist-language=MTML
*.jsonc linguist-language=JSON-C
*.embeddedhtml linguist-language=HTML
